<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="infoEducatie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <infoEducatie.Properties.Settings>
            <setting name="inaltime" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="lungime" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="maximizat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="culoare" serializeAs="String">
                <value>Black</value>
            </setting>
        </infoEducatie.Properties.Settings>
    </userSettings>
</configuration>